body, html{
  height: 100%;
  background: url("images/background/springgrass.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  margin: 0px;
  font-size: 18px;
  font-family: sans-serif;
}

body, a:link, a:visited, a:active{
  color: rgb(73, 119, 248);
  font-variant: small-caps;
}

.title, .addDancerButton, .lineUpButton, .findPartnerButton {
  padding:5px 12px;
  float:left;
  text-decoration: none;
  margin: 0 5px;
}

.addDancerButton:hover, .lineUpButton:hover, .findPartnerButton:hover {
  color: rgb(80, 80, 80);
}

.topbar{
  height:32px;
  background-color: rgb(249, 249, 249);
}

.title{
  background-color: rgb(249, 249, 249);
  color: rgb(80, 80, 80);
}

.dancer{
  position:absolute;
  height: 200px;
  width: 200px;
  background-image: url("images/pokemon/pikachu.gif");
  background-size: contain;
}

.blinkyDancer {

}

.slideDancer {
  background: url("images/pokemon/thing.gif") no-repeat;
}

.rotateDancer {
  background-image: url("images/pokemon/bulbasaur.gif");
}

.dancerPartnerEffect {
  border:10px solid red;
  border-radius:100px;
}

.audio {
  float:right;
}

